@use '@/styles/_variables';
@use '@/styles/mixins';

.offerPage {
  display: flex;
  width: 100%;
  margin: 0 auto;
  padding-top: variables.$page-top-padding;
  @media (min-width: variables.$breakpoint-mobile) {
    max-width: variables.$breakpoint-mobile;
  }
  @media (min-width: variables.$breakpoint-tablet) {
    max-width: variables.$breakpoint-tablet;
  }
  @media (min-width: variables.$breakpoint-desktop) {
    max-width: variables.$breakpoint-desktop;
  }
  &.vertical {
    flex-direction: column;
    .imageViewer {
      margin: 0 0 36px 0;
    }
    .offerOptions {
      padding-bottom: 26px;
    }
  }
  .imageViewer {
    display: flex;
    flex-direction: column;
    margin-right: 145px;
    .offerImage {
      width: 578px;
      height: 578px;
      object-fit: contain;
      &.vertical {
        width: 100%;
      }
    }
    .imageSelection {
      display: flex;
      align-items: center;
      margin: 34px auto 0 auto;
      .arrowContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 28px;
        height: 28px;
        .arrow {
          width: 28px;
          height: 28px;
          cursor: pointer;
          user-select: none;
          &.right {
            transform: rotate(180deg);
          }
          &:hover {
            path {
              stroke: white;
            }
            rect {
              fill: variables.$gray-01;
            }
          }
          &:active {
            width: 26px;
            height: 26px;
          }
        }
      }
      .selectedImage {
        margin: 0 74px;
      }
    }
  }

  .offerOptions {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    .name {
      font-size: 24px;
      font-weight: 800;
      line-height: 36px;
    }
    .vendor {
      color: variables.$gray-03;
      line-height: 32px;
    }
    .seller {
      display: flex;
      align-items: center;
      color: variables.$gray-03;
      line-height: 32px;
      .storeIcon {
        width: 24px;
        height: 24px;
        margin-right: 4px;
      }
    }
    .price {
      font-size: 24px;
      font-weight: 800;
      line-height: 36px;
      margin-top: 24px;
    }
    .list {
      margin-top: 12px;
    }
    .addToCart {
      margin-top: 12px;
    }
    .descriptionHeader {
      color: variables.$gray-01;
      margin-top: 42px;
      font-weight: 600;
    }
    .description {
      color: variables.$gray-03;
      margin-top: 8px;
    }
  }
}
