@use '@/styles/_variables';
@use '@/styles/mixins';

.cartPanel {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  .scrollableArea {
    width: 100%;
    overflow: auto;
  }
  .header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 600;
    padding: 46px 20px 0 20px;
    margin-bottom: 32px;
    .label {
      margin-left: 12px;
    }
    .xIcon {
      width: 28px;
      height: 28px;
      margin-right: 17px;
      cursor: pointer;
      path {
        fill: variables.$gray-01;
      }
    }
  }
  .bags {
    width: 100%;
    padding: 0 20px;
  }
  .footer {
    border-top: 1px solid variables.$gray-04;
    margin-top: auto;
    padding: 32px;
    width: 100%;
    height: 185px;
    background-color: white;
    .subtotal {
      display: flex;
      font-weight: 600;
      .price {
        margin-left: auto;
      }
    }
    .subtext {
      margin-top: 4px;
      color: variables.$gray-02;
    }
    .checkout {
      @include mixins.button;
      width: 100%;
      margin-top: 36px;
    }
  }
}
