@use '@/styles/_variables';

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9000;
  &.virtualizedScroll {
    overflow-y: scroll;
    &::-webkit-scrollbar {
      background: transparent; /* Optional: just make scrollbar invisible */
    }
  }

  .appHeader {
    width: 100%;
    display: flex;
    margin: 20px 0 20px 0;
    align-items: center;
    padding: variables.$header-margin-top 0 variables.$header-margin-bottom 0;
    margin: 0 auto;
    background-color: white;

    @media (min-width: variables.$breakpoint-mobile) {
      max-width: variables.$breakpoint-mobile;
    }
    @media (min-width: variables.$breakpoint-tablet) {
      max-width: variables.$breakpoint-tablet;
    }
    @media (min-width: variables.$breakpoint-desktop) {
      max-width: variables.$breakpoint-desktop;
    }
    .ultra {
      color: variables.$gray-01;
      font-size: 20px;
      font-weight: 700;
    }

    .cartContainer {
      display: flex;
      padding: 6px 10px;
      height: fit-content;
      background-color: variables.$gray-06;
      border: 2px solid variables.$gray-04;
      border-radius: 8px;
      margin-left: auto;
      align-items: center;
      user-select: none;
      cursor: pointer;
      &:hover {
        background-color: variables.$gray-04;
      }
      .cart {
        width: 21px;
        color: variables.$gray-01;
      }
      .counter {
        margin-left: 5px;
        color: variables.$gray-01;
        font-size: 14px;
        font-weight: 600;
      }
    }
  }
}
